
{{#each articles}}
  <div class="each-article">
    <div class="title-and-link">
      <p class="article-title" data-id="{{this._id}}">{{this.title}}</p>
      <p class="article-link"><a href="{{this.link}}">{{this.link}}</a></p>
    </div>
    {{#if this.saved}}
      <button class="btn btn-sucess save_saved" data-id="{{this._id}}">Saved</button>
    {{else}}
      <button class="btn save-button save_saved" data-id="{{this._id}}">save article</button>
    {{/if}}
  </div>
{{/each}}
